body {
  background-color: #ffffff;
}


.login {
  color: rgb(185, 28, 28);
}

.sign-up {
  color: rgb(185, 28, 28);
}

.box{
  margin: auto;
	border-radius:3px;
	background-color: rgb(255, 255, 255);
  width: 300px;
  padding:50px 50px;
  box-shadow: 0 2px 20px 0 rgb(68, 68, 68); 
}

.centered{
  margin: auto;


  width: 300px;
  padding:50px 50px;
}

.text-centered{
  text-align: center;
  font-size: 26px;
  font-weight: 700;
}

.button-centered{
  text-align: center;
  
}

.page-centered{
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:rgb(0, 0, 0);	
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:rgb(0, 0, 0);
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #ffffff;	
}


.navbar {
  top: 0;
  display:flex;
  overflow:hidden;
  justify-content: center;
  height: 100px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.navbar {
  background: rgb(185, 28, 28);
  color: black;
  border-radius:5px;
}



/* CSS */
.button {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: rgb(185, 28, 28);
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: 150px;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgb(185, 28, 28); 
}

.button:hover,
.button:focus {
  opacity: .75;
}

div {
  text-align: left;
}

.search-container{
  background: #fff;
  height: 30px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;
  box-shadow: 0 2px 20px 0 rgb(71, 71, 71); 
}


.search-container:hover > .search-input{
  width: 1900px;
  
}

.search-container .search-input{
  background: transparent;
  border: none;
  outline:none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;

}

/* .form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
} */

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: rgb(185, 28, 28);
}

.h1{
  font-size: 30px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.h4 {
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.img {
  width: 200px;
  height: 200px;
}

.h3 {
  font-size: 20px;
  color: rgb(0, 0, 0);
}
.h3-button {
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.title {
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.image {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  text-align: center;
}

.map-container {
  height: 300px;
  width: 300px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}


.button-delete {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: rgb(185, 28, 28);
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: 100px;
  min-height: 20px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 2px 6px 2px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: 0 1px 2px 0 rgb(185, 28, 28); 
}

.button-delete:hover,
.button-delete:focus {
  opacity: .75;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.restaurant-card{
  padding-top: 20px;
  padding-left: 20px;
}

/* .c-card {
  img {    
    transition: transform .3s ease-in-out; 
  }
  
  &:hover {
    img {
      transform: scale(1.05)
    }
  }
} */